$primary-yellow: #fbdd7b;
$primary-dark: #333333;
$primary-blue: #78c0de;
$primary-gray: #949494;
$blue: #3d9cea;
$light-yellow: #ffbd54;
$white: #fff;
$yelow: #f4ffad;
$body-bg: #f9f9f9;
$border: #e4e4e2;
$footer-bg: #ebebeb;
